/* Set every element's box-sizing to border-box */
* {
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
}

body{
	max-width: 1200px;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

/* Main Navigation */
.header-container{
	/* border: 2px solid red; */
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-container__nav{
	/* border: 2px solid orange; */
	width: 70%;
	display: flex;
	justify-content: space-around;
}

.header-container__nav a{
	color: black;
}

/* CTA Section */
.main-section{
	/* border: 1px solid red; */
	height: 50vh;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.main-section__container{
	/* border: 2px solid orange; */
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

.main-section__text{
	/* border: 2px solid green; */
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-section__text h1{
	font-size: 60px;
}


.main-section__text a{
	border: 2px solid black;
	padding: 10px 8px;
	margin-top: 10px;
	width: 50%;
	color: black;
}

.main-section__image{
	max-width: 100%;
	display: block;
	height: auto;
}

/* Middle Section */
.info-section{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 30px 0;
}

.info-section__top{
	/* border: 2px solid red; */
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.info-section__features,
.info-section__about {
	/* border: 2px solid orange; */
	width: 49%;
}

.info-section__image{
	min-width: 100%;
	display: block;
	height: auto;
}

.info-section__bottom{
	margin-top: 30px;
	/* border: 2px solid red; */
	display: flex;
	justify-content: space-between;
}

.info-section__services,
.info-section__product,
.info-section__vision{
	width: 32%;
}

footer{
	margin: 30px 0;
}