/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your Code Starts Here */

/* Base styling */
.center{
	margin: 0 auto;
	width: 60%;
}

hr{
	border: none;
	height: 2px;
	color: black;
	background-color: black;
}

/* Header */
.main-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0px;
}

.navbar{
	display: flex;
	justify-content: space-between;
	width: 65%;
}

.navbar a{
	font-size: 20px;
	text-decoration: none;
	color: lightgray;
}

.navbar a:hover{
	color: black;
}



/* Services */

.services-section-img {
	margin-bottom: 50px;
	width: 100%;
}

.services-section-img  img{
	width: 100%;
}

.services-section {
	font-size: 22px;
	margin-bottom: 50px;
}

.services-section p{
	font-size: 19px;
}


.two-services{
 display: flex;
 justify-content: space-between;
 margin: 50px 0px;
}

.box{
	border: 2px solid black;
	width: 48%;
	padding: 30px;
	background: rgb(231, 231, 231);
}

.box h1{
	font-size: 22px;
}

.box h1,
.box p{
	margin-bottom: 20px;
}

.box p{
	font-size: 18px;
	font-weight: bold;
}

.box a{
	border: 2px solid black;
	background: white;
	display: inline-block;
	width: 30%;
	padding: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
}

/* Services Facts */
.services-facts-section{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.services-facts-text,
.services-facts-img-container{
	width: 48%;
}

.services-facts-text h1{
	font-size: 22px;
}

.services-facts-text p{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 30px;
}

ul{
	list-style-type: square;
	padding-left: 18px;
}

.services-facts-text ul li {
	line-height: 30px;
	font-weight: bold;
	font-size: 18px;
}

.services-facts-img-container img{
	width: 100%;
}

.copyright{
	margin: 40px 0px;
	text-align: center;
	font-weight: bold;
}
